<button
  type="button"
  data-dropdown-toggle="notification-dropdown"
  class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
>
  <span class="sr-only">View notifications</span>
  <foundation-icon [icon]="notIcon" class="w-6 h-6" />
</button>

<div
  class="hidden overflow-hidden z-50 my-4 max-w-sm text-base list-none dark bg-white divide-y divide-gray-100 shadow-lg dark:divide-gray-600 dark:bg-gray-700 rounded-xl"
  id="notification-dropdown"
>
  <div
    class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-300"
  >
    Notificações
  </div>
  <div>

    <!-- Notificações -->
    <a
    href=""
    class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600"
    *ngFor="let notification of notifications">
    <div class="pl-3 w-full">
      <div
          class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400"

      >
          Nova Notificação de <span class="font-semibold text-gray-900 dark:text-white">{{notification.from}}</span>: <br />
          <h4>{{notification.title}}</h4>
          {{notification.description}}
      </div>
      <div
          class="text-xs font-medium text-primary-600 dark:text-primary-500"
          [title]="getNotificationDateFormatted(notification.date)"
      >
          {{getMinutesFromNotification(notification.date)}}
      </div>
  </div>
    </a>


  </div>
  <a
    href="#"
    class="block py-2 text-md font-medium text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-600 dark:text-white dark:hover:underline"
  >
    <div class="inline-flex items-center">
      <foundation-icon [icon]="seeNotIcon" forcedClass="mr-2 w-4 h-4 text-gray-500 dark:text-gray-400"/>
      Ver todas
    </div>
  </a>
</div>
